<footer class="site-footer">

  <div class="wrapper">

    <div class="restrict">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            <span class="glyphicon glyphicon-comment"></span> <a href="https://www.facebook.com/Pirate-Party-Vermont-1686998118216983/" title="Pirateirc IRC" target="_blank">facebook</a>
          </li>
          {% endif %}

          <span class="glyphicon glyphicon-comment"></span><a href="https://webchat.pirateirc.net/?nick=&channels=piratepartyvt" title="Pirateirc IRC" target="_blank"> #{{site.pirateirc_channel}} on pirateirc</a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %} -->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{ site.description }}</p> -->
      </div>
    </div>

    </div>

  </div>

</footer>


<script src="{{ "/js/jquery-1.12.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bootstrap-3.3.6-dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/base.js" | prepend: site.baseurl }}"></script>
