
<div class="col-xs-12 col-sm-6 margin-bottom-md">
  <h3>Pirates</h3>
  <a href="https://masspirates.org" target="_blank">Mass Pirates</a><br/>
  <a href="http://www.pp-international.net/" target="_blank">PPI</a><br/>
  <a href="https://uspirates.org/" target="_blank">US Pirates</a><br/>
  <a href="https://twitter.com/nypirateparty" target="_blank">New York Pirate Party</a><br/>
  <a href="https://pirateparty.org.uk/" target="_blank">Pirate Party UK</a><br/>
  <a href="https://pirateparty.org.au/" target="_blank">Pirate Party Australia</a><br/>
  <a href="http://europeanpirateparty.eu/" target="_blank">Pirate Party EU</a><br/>
  <a href="http://pirateparty.be/" target="_blank">Pirate Party Belgium</a><br/>
  <a href="http://pirateparty.is/" target="_blank">Pirate Party Iceland</a><br/>
</div>

<div class="col-xs-12 col-sm-6 margin-bottom-md">
  <h3>Software</h3>
  <a href="https://torproject.org" target="_blank">Tor Project</a><br/>
  <a href="https://whispersystems.org/" target="_blank">Open Whisper Systems</a><br/>
  <a href="https://subgraph.com" target="_blank">Subgraph.com</a><br/>
  <a href="https://onionshare.org/" target="_blank">Onion Share</a><br/>
</div>

<div class="col-xs-12 col-sm-6 margin-bottom-md">
  <h3>Comrades</h3>
  <a href="https://eff.org/" target="_blank">EFF</a><br/>
  <a href="https://democracynow.org" target="_blank">Democracy Now!</a><br/>
  <a href="https://riseup.net" target="_blank">Riseup.net</a><br/>
  <a href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a><br/>
  <a href="https://www.cryptoparty.in/" target="_blank">Crypto Party</a><br/>
  <a href="http://www.defectivebydesign.org/" target="_blank">Defective By Design</a><br/>
  <a href="https://collector.torproject.org/" target="_blank">collector.torproject</a><br/>
  <a href="https://metrics.torproject.org/" target="_blank">metrics.torproject</a><br/>
  <a href="https://ccc.de/en/" target="_blank">CCC</a><br/>
  <a href="https://www.hackint.org/" target="_blank">HackInt</a><br/>
</div>
